.form{
    align-items: center;
    text-align: center;    
    color: white;
    padding-top: 20%;
    margin-bottom: 300px;
    width: 100%;
    font-size: 30px;
}

.form-label{
    font-size: larger;
}

.form-control{
    text-align: center;
    font-size:100% ;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}



*{
    margin:0;
    padding:0;
}

.navbar{
    display: flex;
    position: fixed;
    z-index: 100000000;

    top: 0;
    width: 100%;
    /* overflow: hidden; */
    background: rgb(253, 253, 253) ;
  }

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 34%;
    border-radius: 50px;
    border: 3px solid white;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-list
{
    align-items: center;
    justify-content: center;
    padding: 28px 0;
    display: flex;
}

.nav-list li{
    display: inline-block;
    margin: 0 15px;
    font-size: larger;
}

.nav-list li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 0;
    position: relative;
}

.nav-list li a::after{
    content: '';
    background: rgb(219, 91, 59);
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
    
}

.nav-list li a:hover::after{
    width: 100%;
}

.right-nav{
    width : 50%;
    text-align: right;
    display: flexbox;
    padding-right: 3%;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid rgb(175, 173, 173);
}

.btn {
    background-color: black; /* Green */
    border: solid rgb(255, 255, 255);
    border-width: 3px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn1 {
    background-color: black; /* Green */
    border: solid rgb(255, 255, 255);
    border-width: 3px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 40px;
}

.btn:hover,.btn1:hover,.btn-sm:hover{
  background-color: brown;
  transition: 0.75s;
}

.btn-sm{
  padding: 1ch;
}



.background{
    background: rgba(0, 0, 0,0) url('../img/bg.jpg');
    background-size: cover;
}



footer
{
    padding-top: 5%;
    text-align: center;
    background-color: rgb(218, 182, 182);
}
.fab,.fas
{
    padding-left: 5%;
    padding-right: 5%;
    color: black;
}
.fab:hover
{
    color: honeydew;
}
.fas:hover
{
    color: honeydew;
}

.foot-cont{
    align-items: center;
    margin: auto ;
    padding-bottom: 4%;
    padding-top: 0.5%;
}